<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite">

    <test name="User Tests">

        <classes>
            <class name="api.tests.UserTests"/>
            <class name="api.tests.User2Test"/>
        </classes>
<!--        JUST ADDING THESE LINE TO PUSH TO GIT SAMPLE-->
    </test>

</suite>